@import './variables.css';
@import './components/Common.css';
/* src/index.css */

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: var(--font-family-primary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.6;
}

#root {
  margin: 0 auto;
  padding: 0;
}